.row
  .col-md-12
    .stories
      %h2 Recent Top Hits
      %table.table
        %tr
        - @stories.each do |story|
          %tr
            = render :partial => 'stories/story', :locals => { :story => story, :past_tense => true }
    = paginate @stories
