.row
  .col-md-12
    .stories
      %h2 Most time spent at #1
      - @stories.each do |story|
        = render partial: 'stories/story', locals: { story: story, past_tense: false }
    = paginate @stories
