.row
  .col-md-12
    .stories
      %h2 Most time spent at #1
      %table.table
        %tr
          %th Time spent at #1
          %th Story
        - @stories.each do |story|
          %tr
            %td
              = minutes_to_words(story.time_at_num_one)
            %td
              %a(href="#{story.href}") #{story.description}
    = paginate @stories
