// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stories {
  margin-bottom: 30px;
  padding: 15px;
  background-color: rgb(246, 246, 239);
  font-size: 1.4em;
  border-radius: 6px;
  h2 {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 900;
  }
  p {
    margin-bottom: 2px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

.story-time {
  span {
    font-size: 0.8em;
    color: brown;
  }
  a {
    padding-left: 6px;
  }
}

