// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stories {
  margin-bottom: 30px;
  padding: 15px 15px 0 15px;
  background-color: #fff;
  font-size: 1.4em;
  border-radius: 6px;
  h2 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 900;
  }
  p {
    margin-bottom: 0.3em;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ul li h2 {
    margin-bottom: 0;
  }
  table {
    margin-bottom: 5px;
    
    tr .story-time {
      border: 0;
    }
  }
}

.stories li h2 {
  padding-left: 15px;
}

.time-frame {
  font-size: 0.5em;
  font-weight: 100;
  color: #7d7d78;
}

.underlined {
  text-decoration: underline;
}

.story-time {
  display: inline-block;
  font-size: 0.8em;
  color: grey;
  padding-bottom: 0.4em;
  min-width: 7em;
}

.story-duration {
  display: inline-block;
  font-size: 0.8em;
  color: grey;
  padding-bottom: 0.4em;
  min-width: 5em;
}

