.row
  .col-md-12
    .stories
      %h2 Recent Top Hits
      %table.table
        - @top_hits.each do |tophit|
          %tr
            = render :partial => 'stories/tophit', :locals => { :tophit => tophit }
    = paginate @top_hits
